node_modules/
npm-debug.log*

logs/
*.log
*.log.*
log/
debug.log
error.log
.DS_Store

# # === Environment files ===
# .env
# .env.*
.next/
out/
*.next/
dist/
build/
*.tsbuildinfo
dump.rdb
*.qdrant
__pycache__/

